<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timetable</title>
</head>
<body>
    <h1>時間割</h1>

    <table border="1">
        <tr>
            <th></th> <th>月曜日</th> <th>火曜日</th> <th>水曜日</th> <th>木曜日</th> <th>金曜日</th> <th>土曜日</th> <th>日曜日</th>
        </tr>

        <tr>
            <th>1</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>

        <tr>
            <th>2</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>

        <tr>
            <th>3</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>

        <tr>
            <th>4</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>

        <tr>
            <th>5</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>

        <tr>
            <th>6</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>

        <tr>
            <th>7</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>
    </table>

<%= link_to "時間割投稿", new_timetable_path %>
<%= link_to "「マイページ」へ戻る", mypages_path %>
</body>
</html>

<div class = "container" >
        <div id = "title">
        <div id = "table">
            <div class= "table-row">
            </div>
            <div class= "table-row">
            </div>
            <div class= "table-row">
            </div>
            <div class= "table-row">
            </div>
            <div class= "table-row">
            </div>
            <div class= "table-row">
            </div>
            <div class= "table-row">
            </div>
            <div class= "table-row">
            </div>
        </div>
        </div>
        